/* == Globals == */

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECEEF3;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.heart {
  color: crimson;
}

main {
  z-index: 1;
}

strong {
  color: #D73885;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(236, 238, 243, .5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(236, 238, 243, .5);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(236, 238, 243, .5);
}

/* == Header == */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  z-index: 1;
}

/* Hamburger button */

#toggle-header-nav { display: none; }

#toggle-header-nav:focus {
  outline: none;
}

.hamburger {
  position: fixed;
  top: 22px;
  left: 22px;
  z-index: 1;
}

.hamburger--collapse .hamburger-inner,
.hamburger--collapse .hamburger-inner::before,
.hamburger--collapse .hamburger-inner::after {
  background: white !important;
}

.hamburger--collapse.is-active .hamburger-inner {
  background: #F73E81 !important;
}

/* Header logo */

#header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo img {
  width: 72px;
  height: 72px;
}

h1 {
  color: #ECEEF3;
  font-size: 28px;
  font-weight: 300;
  padding: 0 12px;
}

/* Header navigation */

nav#header-navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav#header-navigation ul li {
  color: white;
  font-size: 22px;
  font-weight: 300;
  transition: color .5s;
  padding: 0 12px;
}

nav#header-navigation ul li:last-child {
  padding-left: 12px;
  padding-right: 0; 
}

nav#header-navigation ul li:hover { color: #F73E81; }
nav#header-navigation #header-nav-footer { display: none; }

/* == Main == */

/* = Top page = */

#top-page {
  background: url('../images/background-parisjulien.jpeg') no-repeat top center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
}

#top-page .container {
  display: flex;
  align-items: center;
  min-height: 90vh;
}

h2 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
}

#top-page-content p {
  color: white;
  font-weight: 300;
  line-height: 42px;
  font-size: 1.5rem;
}

/* = Site container = */


/* = About = */

#about {
  padding: 142px 0;
}

#about h3 {
  color: #2c2e57;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  padding-bottom: 42px;
  letter-spacing: 2px;
}

#about p {
  color: #474667;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1px;
}

/* = Skills = */

#skills {
  background-color: rgba(44, 46, 87, .1);
  padding-top: 142px;
}

#skills h3 {
  color: #2c2e57;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 122px;
  letter-spacing: 2px;
  text-align: center;
}

#skills h4 {
  color: #2c2e57;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 72px;
  letter-spacing: 2px;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 42px;
  padding-bottom: 72px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-item img {
  width: 96px;
  height: 96px;
}

.skills-item p {
  padding-top: 12px;
  color: #2c2e57;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}

/* = Projects = */

#projects {
  background-color: #2c2e57;
  padding-bottom: 142px;
}

#projects h4 {
  color: #ECEEF3;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  padding-top: 142px;
  padding-bottom: 122px;
}

#projects-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
}

#projects-filter button.is-active {
  background-color: #F73E81;
  background-image: linear-gradient(to top, #D73885, rgba(255,255,255,0));
}

#projects-filter button, form button {
  background: transparent;
  border: 1px solid white;
  border-radius: .22rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 12px 22px;
  cursor: pointer;
  transition: .6s;
  margin-left: 12px;
  margin-right: 22px;
}

#projects-filter button:first {
  margin-left: 0;
}

#projects-filter button:last {
  margin-right: 0;
}

#projects-filter button:hover, form button:hover {
  background-color: #F73E81;
  background-image: linear-gradient(to top, #D73885, rgba(255,255,255,0));
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.project-item {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: .33rem;
  overflow: hidden;
}

.project-item a {
  background-color: rgba(44, 46, 87, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
}

.project-item a.is-active-to-top {
  transform: translateY(0);
}

.project-item a.is-leave-to-top {
  transform: translateY(-100%);
}

.project-item a.is-active-to-left {
  transform: translateX(0);
}

.project-item a.is-leave-to-left {
  transform: translateX(-100%);
}

.project-item a.is-active-to-bottom {
  transform: translateY(0);
}

.project-item a.is-leave-to-bottom {
  transform: translateY(100%);
}

.project-item a.is-active-to-right {
  transform: translateX(0);
}

.project-item a.is-leave-to-right {
  transform: translateX(100%);
}

/* = Contact = */

#contact {
  background: url('../images/background-contact.jpeg') no-repeat top center;
  background-size: cover;
  width: 100%;
  padding: 142px 0;
}

#contact h3 {
  color: #ECEEF3;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 122px;
  letter-spacing: 2px;
  text-align: center;
}

.groupFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
}

.formField {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  position: relative;
  overflow: hidden;
}

.formField label {
  color: #ECEEF3;
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 12px;
}

.formField input, .formField textarea  {
  background: #2c2e57;
  color: #ECEEF3;
  border: none;
  border-radius: .22rem;
  font-size: 1.5rem;
  padding: 24px 12px;
}

.formField textarea {
  min-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

.formField input:focus, .formField textarea:focus {
  outline: none;
}

.formFieldMessage {
  font-weight: 400;
  font-size: 1.3rem;
  padding-top: 8px;
  position: absolute;
  bottom: 0;
  transform: translateY(30px);
  transition: .5s;
}

.inputError input {
  border: 1px solid #F73E81;
}

.inputError .formFieldMessage {
  color: #F73E81;
  transform: translateY(0px);
}

/* == Footer == */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 0;
}

#footer-copy {
  font-size: 1.3rem;
  color: #2c2e57;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 22px;
}

footer img {
  width: 42px;
  height: 42px;
  margin-left: 12px;
  margin-right: 12px;
}

footer img:first {
  margin-left: 0;
}

footer img:last {
  margin-right: 0;
}

#arrow-up {
  position: fixed;
  bottom: 42px;
  right: 22px;
  transform: translateX(100px);
  transition: .2s;
  z-index: 2;
}

#arrow-up img {
  width: 72px;
  height: 72px;
}

#arrow-up.is-visible {
  transform: translateX(0);
}

/* == Notifications == */

.notification {
  position: fixed;
  top: 42px;
  left: 22px;
  min-width: 40%;
  border-radius: .33rem;
  transform: translateX(0);
  transition: transform .8s;
}

.notification-header {
  background-color: rgba(44, 46, 87, .1);
  width: 100%;
  border-radius: .33rem;
}

.notification-header p {
  color: white;
  font-weight: 400;
  padding: 22px;
  font-size: 1.5rem;
}

.notification p {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 22px;
}

.notification.error {
  background: tomato;
}

.notification.success {
  background: seagreen;
}

.notification.notification-hide {
  transform: translateX(-200%);
}

/* == Responsive == */

@media all and (max-width: 1170px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media all and (max-width: 900px) {
  #toggle-header-nav { display: block; }
  header { justify-content: center; z-index: 2; }

  #header-logo {
    transform: translateX(0);
    transition: .5s;
    flex-direction: column;
  }

  h1 { padding: 12px 0; }
  
  nav#header-navigation {
    display: grid;
    grid-template-areas:
    'button'
    'navigation'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background: #2c2e57;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 360px;
    border-right: 1px solid #474667;
    box-shadow: 0px 0px 10px #474667;
  }

  nav#header-navigation ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-area: navigation;
  }

  nav#header-navigation ul li {
    padding: 42px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
  }

  nav#header-navigation #header-nav-footer {
    display: block;
    grid-area: footer;
    justify-self: center;
    align-self: flex-end;
    padding-bottom: 38px;
  }

  nav#header-navigation #header-nav-footer p {
    color: white;
    text-align: center;
    padding: 4px 0;
    font-weight: 300;
  }

  nav#header-navigation #header-nav-footer a { padding: 0 4px; }
  nav#header-navigation #header-nav-footer a:first { padding-left: 0; }
  nav#header-navigation #header-nav-footer a:last-child { padding-right: 0; }

  nav#header-navigation #header-nav-footer img {
    width: 24px;
    height: 24px;
  }

  nav#header-navigation {
    transform: translateX(-360px);
    transition: .5s;
  }

  main, .navigation-show nav#header-navigation {
    transform: translateX(0);
    transition: .5s;
  }

  .navigation-show #header-logo, .navigation-show main { transform: translateX(360px); }

  #skills-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px) {
  #top-page .container {
    justify-content: center;
  }

  h2, #top-page-content p {
    text-align: center;
  }

  #skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #projects-container {
    grid-template-columns: 1fr;
  }

  .groupFields {
    grid-template-columns: 1fr;
  }
}